<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="css/contact.css">
      <div class="topnav">
          <a href="/index">Divyaharshini</a>
          <a  href="/index">Home</a>
          <a href="/tic-tac-toe">Game</a>
          <a href="/contact">Contact</a>
        </div><br>
</head>