<% include header %>
<body>
    <header>
      <h1>Save your time</h1>
    </header>
    <main>
      <h2>Perform the below mathematic functions for a number:</h2><br>
      <h3>Enter the number:</h3><br>
      <input type="number" id="number" name="num" placeholder="Enter a valid number" value=""><br>
      <br>
      <h3>Select the function</h3><br>
      
        <select>
          <option id="Palindrome" value="Palindrome">Palindrome</option>
          <option id="Fibonacci" value="Fibonacci">Fibonacci</option>
          <option id="Strongnumber" value="Strongnumber">Strong Number</option>
        </select>
  
      <br><button type="button" onclick="calculator()">Submit</button><br>
      Result: <p id="result"></p>
      <script src="js/calc.js" defer></script>
    </main>
    </body>
    <% include footer %>